$font-family-sans-serif: cooper-black-std, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: sofia-pro, sans-serif, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$h1-font-size: 2rem;             
$h2-font-size: 1.5rem;               
$h3-font-size: 1.5rem;               
$h4-font-size: 1rem;

$primary: #FBD87B;
$secondary: #004133;
$light: #FFF6E1;
$blue: #37C5E9;

$link-color: $secondary;

$navbar-light-color: #004133;
$navbar-light-active-color: #019A7B;     










