@media (min-width: 768px) {
    .intro {

        &__item {
    
            &--img {
                margin-right: 20px;
            }
    
            &--text {
                margin-left: 20px;
            }
        }
    }

}

.featured {

    &__img {
        margin: 20px;
    }

    &__title {
        margin: 10px;
    }
}

