.intro {
    background-color: $primary;
    border: 4px solid $secondary;
    margin: 20px auto;

    &__item {
        background-color: $light;
        border: 4px solid $secondary;
        margin: 20px auto;
    }
}