html, body {
    height: 100%;
}

body {
    background-image: url(../../resources/background/backgroundSeVi.svg);
}

img {
    width: 100%;
}

.sevi__logo {
    max-width: 120px;
}

.hero-container {
    border: 4px solid $secondary;
    margin: 20px auto;
}

.background__primary {
    background-color: $primary;
    margin: 20px auto;
}

.background__light {
    background-color: $light;
}

.border__green {
    border: 4px solid $secondary;
}

.row {
    margin: 20px;
}

.col-md-3, .col-md-4 {
    padding: 0px;
}





