html, body {
    height: 100%;
}

body {
    background-image: url(../../resources/background/backgroundSeVi.svg);
}

img {
    width: 100%;
}

.hero-container {
    border: 4px solid $secondary;
    margin: 20px auto;
}

/*Buttons*/

button {
    background-color: $blue;
}

.cart__button--cart::before, .product__button--cart::before {
    content: "Add to cart";
    }
    
.cart__button--cart.added::before, .product__button--cart.added::before {
        content: "Remove";
    }